// ==============================
// 表示アニメーション
// ==============================
.js-anime {
    opacity: 0;
    visibility: hidden;
    transform: translateX(15px);
    transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1), transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);

    &.is-active {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
}

.js-fade {
	opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
	transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1), transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);

	&.is-fade {
		opacity: 1;
        visibility: visible;
        transform: translateY(0);
	}
}
