// ==============================
// 表示アニメーション
// ==============================
.js-anime {
    opacity: 0;
    visibility: hidden;
    transform: translateX(15px);

	transition-property: opacity, transform;
	transition-duration: 1s;
	transition-timing-function: var(--ease-quart-out), var(--ease-quart-inout);


    &.is-active {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
}

.js-fade {
	opacity: 0;
    visibility: hidden;
    transform: translateY(15px);

	transition-property: opacity;
	transition-duration: 1s;
	transition-timing-function: var(--ease-quart-out);

	&.is-fade {
		opacity: 1;
        visibility: visible;
        transform: translateY(0);
	}
}
