@use '../foundation/mixin';
/*---------------------------------
  list
---------------------------------*/
/* list__bullet
---------------------------------*/
.list__bullet {
	margin-top: 40px;

	&._mt0 {
		margin-top: 0;
	}

	> li {
		font-size: 1.4rem;
		line-height: 1.75;
		position: relative;
		padding-left: 1em;

		&:not(:first-child) {
			margin-top: 8px;
		}

		@include mixin.pc {
			font-size: 1.6rem;
		}

		&::before {
			content: "・";
			position: absolute;
			left: 0;
			top: 0;
		}

		em {
			font-weight: 700;
			color: var(--main-color);
		}
	}
}





