@use '../foundation/mixin';
/*---------------------------------
  list
---------------------------------*/
.c-card__01 {
	margin-top: 30px;
	display: flex;
	gap: 30px;
	flex-wrap: wrap;

	> li {
		padding: 10px;
		width: calc((100% / 4) - (30px * 3 / 4));
		background-color: #eee;
	}
}






