@use '../foundation/mixin';
/*---------------------------------
  テーブル
---------------------------------*/
.table__wrap {
	width: 100%;
	overflow-x: auto;

	.scroll-hint-text {
		font-size: 1.2rem;
	}
}

.table__01 {
	margin-top: 60px;
	width: 1000px;
	border-collapse: collapse;

	> tbody {
		th,
		td {
			padding: 22px;
			vertical-align: middle;
			border: 1px solid #ccc;
			font-size: 1.6rem;
		}
	}
}
