/*---------------------------------
  header
---------------------------------*/
.header {
    background-color: #ccc;
    display: flex;

    @include tab {
      background-color: #ff0;
    }

    @include pc {
      background-color: #00f;
    }
}