@use '../foundation/mixin';
/*---------------------------------
  top
---------------------------------*/
.u-sp {
	display: block;

	@include mixin.tab {
		display: none;
	}
}

.u-sp-pc {
	display: block;

	@include mixin.tab {
		display: none;
	}

	@include mixin.pc {
		display: block;
	}
}

.u-tab {
	display: none;

	@include mixin.tab {
		display: block;
	}
}

.u-tab-none {
  display: block;

	@include mixin.tab {
		display: none;
	}
}

.u-tab-only {
	display: none;

	@include mixin.tab {
		display: block;
	}

	@include mixin.pc {
		display: none;
	}
}

.u-pc {
	display: none;

	@include mixin.pc {
		display: block;
	}
}

.u-pc-none {
	display: block;

	@include mixin.pc {
		display: none;
	}
}


