@use '../foundation/mixin';
/*---------------------------------
  top
---------------------------------*/
.block {

}
.p-main-visual {
    @include mixin.pc {
    }
}

/* ↓↓　削除　↓↓
/* intersectionobserver
---------------------------------*/
.block {
	background-color: #eee;
	padding: 20px;

	@include mixin.pc {
		padding: 40px;
	}

}

.hdg {
	font-size: 2rem;
}

.text {
	margin-top: 10px;
	font-size: 1.6rem;
}

.list {
	width: fit-content;
	margin: 20px auto 0;
	display: flex;
	flex-direction: column;
	gap: 20px;

	@include mixin.tab {
		flex-direction: row;
	}

	@include mixin.pc {
		gap: 40px;
	}

	> li {
		flex: 1;
	}
}
