html {
    font-size: 62.5%;
}


body {
    font-family: "Noto Sans JP", sans-serif;
    color: #47545D;
}

a {

}

img {
    display: inline;
}

h1,h2,h3,h4,h5,h6,p,ul,li,dl,dt,dd {
    margin: 0;
    padding: 0;
}

ul,ol {
    list-style: none;
}

em {
    font-style: normal;
}

.sp {
    display: block;

    @include tab {
        display: none;
    }
}

.tab {
    display: none;

    @include tab {
        display: block;
    }
}

.pc {
    display: none;

    @include pc {
        display: block;
    }
}

.pc-none {
    display: block;

    @include pc {
        display: none;
    }
}

.main {
    overflow: hidden;
}

.inner {
    max-width: 1020px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

