- var path = "../";

doctype html
html(lang='ja')
head 
    include ../asset/inc/_head
    title gulp-test
    meta(name='description' content='')

body

    include ../asset/inc/_header

    main.main



    include ../asset/inc/_footer