include ../asset/inc/_variable
- var parentTitle = pages.works[0].title
- var title = pages.works[0].children[0].title
- var description = pages.top[0].description
- var keywords = pages.top[0].keywords
- var url = pages.works[0].children[0].url
- var en = pages.works[0].children[0].en
- var pageType = 'works'

doctype html
html(lang='ja')
	head
		include ../asset/inc/_head
		include ../asset/inc/_gtag

	body

		include ../asset/inc/_header

		main.main
			section.p-pagetitle
				.l-inner
					h1.c-pagetitle__hdg
						span.jp= title
						span.en= en
			section.l-section
				.l-inner
					p.c-text--01
			section.l-section
				.l-inner
					p.button__block
						a(href="#" class="button__01")
							span.text テキスト
					ul.c-list__card--01
						li.c-list__card--01__item
						li.c-list__card--01__item
						li.c-list__card--01__item

			include ../asset/inc/_bottom-nav

		include ../asset/inc/_footer
