@use '../foundation/mixin';
/*---------------------------------
  footer
---------------------------------*/
.l-footer {
	padding: 100px 0;
	background-color: #ccc;
	position: relative;

	@include mixin.tab {
	}
}

.l-pagetop {
	position: fixed;
	right: 20px;
	bottom: 20px;

	&.is-active {
		position: absolute;
	}
}

.totop {
	width: 50px;
	height: 50px;
	text-decoration: none;
	display: flex;
	background-color: #ff0000;
	border-radius: 50%;
	color: transparent;
}
