@use '../foundation/mixin';
/*---------------------------------
  main
---------------------------------*/
//セクション
.l-main {
	overflow: hidden;
}

.l-section {
	margin-top: 40px;

	@include mixin.pc {
		margin-top: 80px;
	}
}

.l-inner {
    max-width: calc(var(--inner) + var(--inner-padding));
	padding-inline: calc(var(--inner-padding) / 2);
    margin-inline: auto;
	position: relative;
	z-index: 1;
}
