- var title = '下層ページ'
- var description = '下層ページのディスクリプション'
- var keywords = '下層ページのキーワード'
- var url = '/works/'

doctype html
html(lang='ja')
	head
		include ../asset/inc/_head
		meta(name='description' content='')

	body

		include ../asset/inc/_header

		main.main
			section.l-section
				.l-inner
					.block.js-fade
						h2.hdg.js-fade セクションの見出し1
						p.text.js-fade テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
						ul.list
							li.js-fade
								img(src="https://placehold.jp/3d4070/ffffff/500x300.png", alt="")
							li.js-fade
								img(src="https://placehold.jp/3d4070/ffffff/500x300.png", alt="")
			section.l-section
				.l-inner
					.block.js-fade
						h2.hdg.js-fade セクションの見出し2
						p.text.js-fade テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
						ul.list
							li.js-fade
								img(src="https://placehold.jp/ff0000/ffffff/500x300.png", alt="")
							li.js-fade
								img(src="https://placehold.jp/ff0000/ffffff/500x300.png", alt="")
			section.l-section
				.l-inner
					.block.js-fade
						h2.hdg.js-fadev セクションの見出し3
						p.text.js-fade テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
						ul.list
							li.js-fade
								img(src="https://placehold.jp/0000ff/ffffff/500x300.png", alt="")
							li.js-fade
								img(src="https://placehold.jp/0000ff/ffffff/500x300.png", alt="")
			section.l-section
				.l-inner
					.block.js-fade
						h2.hdg.js-fade セクションの見出し4
						p.text.js-fade テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
						ul.list
							li.js-fade
								img(src="https://placehold.jp/00ff00/ffffff/500x300.png", alt="")
							li.js-fade
								img(src="https://placehold.jp/00ff00/ffffff/500x300.png", alt="")
		include ../asset/inc/_footer
