/*---------------------------------
  top
---------------------------------*/
.mv {

	@include tab {
    }

    @include pc {
    }
}

.grad__hdg__lv2 {
	display: flex;
	flex-direction: column;
	align-items: center;

	> .main {
		font-size: 4rem;
		background: linear-gradient(to right, #1e5799 0%,#7db9e8 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	> .sub {
		font-size: 2.5rem;
	}
}

.grad__box {
	position: relative;
	padding: 20px;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		border-radius: 50px;
		padding: 5px;
		background: linear-gradient(45deg,#ffcc00,#ff6600);
		-webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;
		mask-composite: exclude;

	}

}

.pallax {
	position: relative;
	height: 100vh;
	height: 500px;
	overflow: hidden;
}
.pallax__wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	clip: rect(auto, auto, auto, auto);
}

.pallax__image {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;

	&._01 {
		background: url(../images/landscape.jpg) no-repeat center top /cover;
	}

	&._02 {
		background: url(../images/img-01.jpg) no-repeat center top /cover;
	}

	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

.wrap {
	padding: 500px 0;
	font-size: 1.6rem;
}


.news__list {
	display: flex;
	flex-direction: column;
	gap: 20px;

}

.news__list__hdg {
	font-size: 2rem;
}

.news_block {
	margin-top: 20px;

	@include tab {
		display: flex;
		flex-direction: row-reverse;
		gap: 20px;
    }
}

.news__text {
	margin-top: 20px;
	font-size: 1.6rem;

	@include tab {
		margin-top: 0;
    }
}
