- var path = "./";

doctype html
html(lang='ja')
	head
		include asset/inc/_head
		title gulp-test
		meta(name='description' content='')

	body
		include asset/inc/_header

		main.main
			.scroll_image
				.scroll_image_wrap
					img(src="asset/images/landscape2.jpg", alt="")
			section.section
				p.text テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
			section.section
				.contents_inner
					h2.h2_title GSAPのScrollTriggerとは
					p.section_txt テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
			section.scroll.section
				.contents_inner
					h2.h2_title 横スクロールアニメーション
					.scroll_container
						.scroll_wrap
							.scroll_box 横
							.scroll_box ス
							.scroll_box ク
							.scroll_box ロ
							.scroll_box ー
							.scroll_box ル
							.scroll_box ア
							.scroll_box 二
							.scroll_box メ
							.scroll_box ー
							.scroll_box シ
							.scroll_box ョ
							.scroll_box ン

			.inner
				section.about
					h2.hdg__lv2__01.js-anime
						span.wrap
							span.text 証明書発行システム
								//- img(src="asset/images/hdg.svg", alt="")
				.sec
					p.target__item ターゲットアイテム
				.sec
					p.target__item ターゲットアイテム
				.sec
					p.target__item ターゲットアイテム
				.sec
					p.target__item ターゲットアイテム
				.sec
					p.target__item ターゲットアイテム
				.tab
					ul.tab__btn
						li.is-active タブ1
						li タブ2
						li タブ3 
						li タブ4
					
					.tab__panel
						.panel.is-active
							p タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1タブ1
						.panel 
							p タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2タブ2
						.panel 
							p タブ3タブ3タブ3タブ3タブ3タブ3タブ3タブ3タブ3タブ3タブ3タブ3タブ3タブ3タブ3タブ3タブ3タブ3タブ3タブ3タブ3タブ3タブ3タブ3タブ3タブ3
						.panel 
							p タブ4タブ4タブ4タブ4タブ4タブ4タブ4タブ4タブ4タブ4タブ4タブ4タブ4タブ4タブ4タブ4タブ4タブ4タブ4タブ4タブ4

				.tab
					ul.tab__btn
						li.is-active タブ5
						li タブ6
						li タブ7 
						li タブ8
					
					.tab__panel
						.panel.is-active
							p タブ5タブ5タブ5タブ5タブ5タブ5タブ5タブ5タブ5タブ5タブ5タブ5タブ5タブ5タブ5タブ5タブ5タブ5タブ5タブ5タブ5タブ5タブ5タブ5タブ5タブ5タブ5タブ5タブ5タブ5タブ5タブ5タブ5
						.panel 
							p タブ6タブ6タブ6タブ6タブ6タブ6タブ6タブ6タブ6タブ6タブ6タブ6タブ6タブ6タブ6タブ6タブ6タブ6タブ6タブ6タブ6タブ6タブ6タブ6タブ6タブ6タブ6
						.panel 
							p タブ7タブ7タブ7タブ7タブ7タブ7タブ7タブ7タブ7タブ7タブ7タブ7タブ7タブ7タブ7タブ7タブ7タブ7タブ7タブ7タブ7タブ7
						.panel 
							p タブ8タブ8タブ8タブ8タブ8タブ8タブ8タブ8タブ8タブ8タブ8タブ8タブ8タブ8タブ8タブ8タブ8タブ8タブ8タブ8タブ8タブ8

				.tab
					ul.tab__btn
						li.is-active タブ9
						li タブ10
						li タブ11
						li タブ12
					
					.tab__panel
						.panel.is-active
							p タブ9タブ9タブ9タブ9タブ9タブ9タブ9タブ9タブ9タブ9タブ9タブ9タブ9タブ9タブ9タブ9タブ9タブ9タブ9タブ9タブ9タブ9タブ9
						.panel 
							p タブ10タブ10タブ10タブ10タブ10タブ10タブ10タブ10タブ10タブ10タブ10タブ10タブ10タブ10タブ10タブ10
						.panel 
							p タブ11
						.panel 
							p タブ12
								br
								| タブ12タブ12タブ12タブ12タブ12タブ12タブ12タブ12タブ12タブ12タブ12

				p.btn 
					a(href="#" class="btn__01") ボタン 
				ul.card
					li 
						h2.card__hdg テキストテキストテキスト
						.card__image 
							img(src="https://placehold.jp/600x400.png", alt="")
						p.card__text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
						p.card__tag テキスト
					li 
						h2.card__hdg テキストテキストテキストテキストテキストテキスト
						.card__image 
							img(src="https://placehold.jp/600x400.png", alt="")
						p.card__text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
					li 
						h2.card__hdg テキストテキストテキストテキストテキストテキスト
						.card__image 
							img(src="https://placehold.jp/600x400.png", alt="")
						p.card__text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
						p.card__tag テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
					li 
						h2.card__hdg テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
						.card__image 
							img(src="https://placehold.jp/600x400.png", alt="")
						p.card__text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
						p.card__tag テキストテキスト
					li 
						h2.card__hdg テキストテキストテキストテキストテキストテキスト
						.card__image 
							img(src="https://placehold.jp/600x400.png", alt="")
						p.card__text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
						p.card__tag テキストテキストテキストテキストテキスト

				h2.grad__hdg__lv2 文字を横に並べる文字を横に並べる
					br
					| 文字を横に並べる文字を横に並べる文字を横に並べる文字を横に並べる
					br
					| 文字を横に並べる文字を横に並べる文字を横に並べる文字を横に並べる文字を横に並べる文字を横に並べる

				ul.list__widefit 
					li リストテキスト
					li リストテキストリストテキスト
					li リストテキストリストテキストリストテキスト
					li リストテキスト
					li リストテキストリストテキスト
					li リストテキストリストテキストリストテキスト

				ul.gallery.js-anime
					li 
						a(href="https://placehold.jp/600x400.png") 
							img(src="https://placehold.jp/600x400.png", alt="")
					li 
						a(href="https://placehold.jp/600x400.png") 
							img(src="https://placehold.jp/600x400.png", alt="")
					li 
						a(href="https://placehold.jp/600x400.png") 
							img(src="https://placehold.jp/600x400.png", alt="")
					li 
						a(href="https://placehold.jp/600x400.png") 
							img(src="https://placehold.jp/600x400.png", alt="")
				.flex__wrap.js-anime
					ul.flex
						li テキスト
						li テキストテキストテキストテキストテキスト
						li テキスト
						li テキスト
						li テキスト
						li テキスト
						li テキストテキストテキストテキストテキストテキストテキストテキストテキスト
						li テキスト
						li テキスト
						li テキスト
						li テキストテキストテキストテキストテキストテテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

				.grid__wrap.js-anime
					ul.grid 
						li テキスト
						li テキストテキストテキストテキストテキスト
						li テキスト
						li テキスト
						li テキスト
						li テキスト
						li テキストテキストテキストテキストテキストテキストテキストテキストテキスト
						li テキスト
						li テキスト
						li テキスト
						li テキストテキストテキストテキストテキストテテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
		include asset/inc/_footer

