- var path = "./";

doctype html
html(lang='ja')
    head 
        include asset/inc/_head
        title gulp-test
        meta(name='description' content='')

    body
        include asset/inc/_header

        main.main
            
            .oya
                .blue-box 青いボックス
                .yellow-box 黄色いボックス
                .green-box 緑のボックス
                .pink-box ピンクのボックス
                .orage-box オレンジのボックス
                .gray-box グレーボックス
                .purple-box パープルボックス
                .red-box 赤いボックス
                
        include asset/inc/_footer
