- var description = 'トップページのディスクリプション'
- var keywords = 'トップページのキーワード'
- var url = '/'
- var pageType = 'top'

doctype html
html(lang='ja')
	head
		include asset/inc/_head

	body
		include asset/inc/_header

		main.l-main
			section.p-main-visual
				.l-inner
		include asset/inc/_footer
