- var path = "./";

doctype html
html(lang='ja')
	head
		include asset/inc/_head
		title gulp-test
		meta(name='description' content='')

	body
		include asset/inc/_header

		main.main
			.mv

			.inner

				h2.grad__hdg__lv2
					span.main PRICE
					span.sub フィーチャーテスト


				ul.news__list
					li
						h3.news__list__hdg ニュースタイトルニュースタイトルニュースタイトルニュースタイトル
						.news_block
							.news__list__image
								img(src="asset/images/landscape.jpg", alt="")
							.news__text ニュースのテキストニュースのテキストニュースのテキストニュースのテキストニュースのテキストニュースのテキストニュースのテキストニュースのテキストニュースのテキストニュースのテキストニュースのテキスト
					li
						h3.news__list__hdg ニュースタイトルニュースタイトルニュースタイトル
						.news_block
							.news__list__image
								img(src="asset/images/landscape.jpg", alt="")
							.news__text ニュースのテキストニュースのテキストニュースのテキストニュースのテキストニュースのテキストニュースのテキストニュースのテキストニュースのテキストニュースのテキストニュースのテキストニュースのテキスト
			//- .wrap
			//- 	.inner
			//- 		p あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
			//- .pallax
			//- 	.pallax__wrap
			//- 		.pallax__image
			//- 			img(src="asset/images/landscape.jpg", alt="")
			//- .wrap
			//- 	.inner
			//- 		p あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ

			//- .pallax
			//- 	.pallax__wrap
			//- 		.pallax__image
			//- 			img(src="asset/images/img-01.jpg", alt="")
		include asset/inc/_footer

