- var path = "./";

doctype html
html(lang='ja')
	head
		include asset/inc/_head
		title gulp-test
		meta(name='description' content='')

	body
		include asset/inc/_header

		main.main
			.inner

				h2.grad__hdg__lv2 機能
				
				ul.gallery
					li 
						a(href="https://placehold.jp/600x400.png") 
							img(src="https://placehold.jp/600x400.png", alt="")
					li 
						a(href="https://placehold.jp/600x400.png") 
							img(src="https://placehold.jp/600x400.png", alt="")
					li 
						a(href="https://placehold.jp/600x400.png") 
							img(src="https://placehold.jp/600x400.png", alt="")
					li 
						a(href="https://placehold.jp/600x400.png") 
							img(src="https://placehold.jp/600x400.png", alt="")
				.flex__wrap
					ul.flex
						li テキスト
						li テキストテキストテキストテキストテキスト
						li テキスト
						li テキスト
						li テキスト
						li テキスト
						li テキストテキストテキストテキストテキストテキストテキストテキストテキスト
						li テキスト
						li テキスト
						li テキスト
						li テキストテキストテキストテキストテキストテテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

				.grid__wrap 
					ul.grid 
						li テキスト
						li テキストテキストテキストテキストテキスト
						li テキスト
						li テキスト
						li テキスト
						li テキスト
						li テキストテキストテキストテキストテキストテキストテキストテキストテキスト
						li テキスト
						li テキスト
						li テキスト
						li テキストテキストテキストテキストテキストテテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
		include asset/inc/_footer

