include asset/inc/_variable
- var title = pages.top[0].title
- var description = pages.top[0].description
- var keywords = pages.top[0].keywords
- var pageType = 'top';

doctype html
html(lang='ja')
	head
		include asset/inc/_head
		include asset/inc/_gtag
	body
		include asset/inc/_header

		main.l-main
			section.p-main-visual
				.l-inner
					p.c-text__01 あああああああああああああああああああああああああああああ
					p.c-text__02 ううううううううううううううううううううううう
			section.about
				.l-inner
					p.c-text__01
						a(href="pages.works[0].children[0].url")= pages.works[0].children[0].title

			section.l-section#anc-01
				.l-inner
					dl.faq__list
						div
							dt.faq__button Q1. 質問です
							dd.faq__answer A1. 答えです答えです答えです答えです答えです答えです答えです答えです答えです答えです答えです答えです答えです答えです答えです答えです答えです
						div
							dt.faq__button Q2. 質問です
							dd.faq__answer A2. 答えです答えです答えです答えです答えです答えです答えです答えです答えです答えです
						div
							dt.faq__button Q3. 質問です
							dd.faq__answer A3. 答えです答えです答えです答えです答えです答えです答えです答えです答えです答えです答えです答えです答えです答えです答えです答えです答えです答えです答えです答えです答えです
						div
							dt.faq__button Q4. 質問です
							dd.faq__answer A4. 答えです答えです答えです答えです答えです答えです答えです答えです答えです答えです答えです答えです答えです答えです答えです答えです答えです
								br
								| 答えです答えです答えです答えです答えです
								br
								| 答えです答えです答えです
		include asset/inc/_footer
