*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

* {
	&::before,
	&::after {
		box-sizing: border-box;
	}
}

body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,figure,figcaption,blockquote,pre,code,button {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

body {
	text-rendering: optimizeSpeed;

}

a {
	&:not([class]) {
		text-decoration-skip-ink: auto;
	}
}

img,
picture {
	max-width: 100%;
	height: auto;
}

input,button,textarea,select {
	font: inherit;
}

em {
    font-style: normal;
}
