/*---------------------------------
  variable
---------------------------------*/
$pc: 1366px;
$tab: 768px;

/* color
---------------------------------*/
:root {
	--body: #333;
	--main-color: #333;
	--sub-color: #000;
	--inner-padding: 30px;
	--inner: 1100px;
	--transition: .4s;
	--noto-sans: "Noto Sans JP", sans-serif;
}
