header.l-header
	.l-inner
		p.l-header__logo 
			a(href="/") 
				img(src="/asset/images/header-logo.svg", alt="")
		button.sp__btn
			span

		nav.l-header__gnav
			ul.l-header-gnav
				li.l-header-gnav__item: a(href="/#anc-01") home
				li.l-header-gnav__item: a(href="/works/") works
				li.l-header-gnav__item: a(href="/#anc-02") aaaa
				li.l-header-gnav__item: a(href="/#anc-03") anc03
				li.l-header-gnav__item: a(href="/#anc-04") anc04
				li.l-header-gnav__item: a(href="/#anc-05") anc05
	