header.header
	.inner
		button.sp__btn
			span

		nav.header__gnav
			ul
				li: a(href="#anc-01") home
				li: a(href="/works/") works
				li: a(href="#anc-02") home
				li: a(href="/works/") works
				li: a(href="#anc-03") home
				li: a(href="/works/") works
