header.header
	.inner
		button.sp__btn
			span

		nav.header__gnav
			ul
				li: a(href="/#anc-01") home
				li: a(href="/works/") works
				li: a(href="/#anc-02") anc02
				li: a(href="/#anc-03") anc03
				li: a(href="/#anc-04") anc04
				li: a(href="/#anc-05") anc05
