-
	var pages = {
		top: [
			{
				sitename : '',
				siteurl : 'https://www.',
				url: '/',
				title : '',
				description :'',
				keywords : '',
				en: 'HOME'
			}
		],
		works: [
			{
				title: '第二階層',
				children: [
					{
						url: '/works/aaa/',
						title : '第二階層タイトル1',
						description :'下層ページのディスクリプション',
						keywords : '下層ページのキーワード',
						en: 'works'
					},
					{
						url: '/works/bbb/',
						title : '第二階層タイトル2',
						description :'下層ページのディスクリプション',
						keywords : '下層ページのキーワード',
						en: 'about'
					}
				]
			}
		],

		contact: [
			{
				url: '/contact/',
				title : 'お問い合わせ',
				description :'下層ページのディスクリプション',
				keywords : '下層ページのキーワード',
				en: 'Contact'
			}
		]
	}
